body {
    margin: 0;
    font-family: poppins;
}
.navbar img {
    width: 25%;
}
.nav-link {
    font-weight: 500;
    color: black;
}
.inner {
    padding: 20px 40px;
}
.inner img {
    width: 100%;
}
.hightlight {
    color: orangered;
    
}
.highlight-h {
    color: #21b573;
}
h1 {
    font-weight: 800;
    margin-bottom: 20px;
}
p {
    font-weight: 500;
}
.top-banner {
    background-color: #f0fff0;
    height: 500px;
}
.prospectus {
    text-align: center;
    margin: 4%;
}
.prospectus h5 {
    font-size: 25px;
}
.btn-success {
    border-radius: 50px;
    border: none;
    padding: 9px 10px;
    cursor: pointer;
    font-weight: medium;
}
.nana {
    background-color: #f0fff0;
}
.exception {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.col-md-3 {
    border-radius: 20px;
}
.category-item {
    padding:  20px 20px;
}
.category-item img {
    width: 25%;
    box-shadow: 5px 5px 10px lightgray;
}
.deco {
    padding: 20px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-deck {
    border-radius: 20px;
}
.date {
    margin-top: 40px;
}
section {
    margin-bottom: 5%;
}
.four img {
    width: 20%;
}
.final {
    background-color: #282531;
    color: white;
}
.list-unstyled a{
    text-decoration: none;
    color: white;
}