body {
    margin: 0;
    font-family: poppins;
}
.navbar img {
    width: 25%;
}
.nav-link {
    font-weight: 500;
    color: black;
}
.inner {
    padding: 20px 40px;
}
.inner img {
    width: 100%;
}
.hightlight {
    color: orangered;
    
}
.highlight-h {
    color: #21b573;
}
h1 {
    font-weight: 800;
    margin-bottom: 20px;
}
p {
    font-weight: 500;
}
.top-banner {
    background-color: #f0fff0;
    height: 500px;
}
.prospectus {
    text-align: center;
    margin: 4%;
}
.prospectus h6 {
    font-size: 30px;
}
.in-button {
    color: white;
    background-color: #21b573;
    border-radius: 50px;
    border: none;
    padding: 9px 10px;
    cursor: pointer;
    width: 30%;
}
.category-item {
    padding:  20px 20px;
}
.category-item img {
    width: 40%;
}
